@use "./variables" as *;

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin button-style {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
    margin: 10px;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 32px;
    max-width: 200px;
    min-width: 120px;
    width: auto;
    color: var(--text);
    background-color: var(--element);
}
  

@mixin button-style-2  {
    width: 200px;
    padding: 10px 20px;
    background-color: var(--element);
    color: var(--text);
    border-radius: 5px;
    box-shadow: 1px 2px 20px 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
    
