
$blue-900: hsl(209, 23%, 22%);
$blue-950: hsl(207, 26%, 17%);
$grey-950: hsl(200, 15%, 8%);
$grey-400: hsl(0, 0%, 50%);
$grey-50: hsl(0, 0%, 99%); 
$white: hsl(0, 100%, 100%); 

// light theme
:root{
    --bg: hsl(0, 0%, 99%);
    --text:hsl(207, 26%, 17%);
    --element: hsl(0, 100%, 100%);
    --input: hsl(0, 0%, 50%);
}

// dark theme
body.dark{
    --bg: hsl(207, 26%, 17%);
    --text: hsl(0, 100%, 100%);
    --element: hsl(209, 23%, 22%);
    --input: hsl(0, 0%, 50%);
}