// colors
// - Blue 900 (Dark Mode Elements): hsl(209, 23%, 22%)
// - Blue 950 (Dark Mode Background): hsl(207, 26%, 17%)
// - Grey 950 (Light Mode Text): hsl(200, 15%, 8%)
// - Grey 400 (Light Mode Input): hsl(0, 0%, 50%)
// - Grey 50 (Light Mode Background): hsl(0, 0%, 99%)
// - White (Dark Mode Text & Light Mode Elements): hsl(0, 100%, 100%)

$blue-900: hsl(209, 23%, 22%);
$blue-950: hsl(207, 26%, 17%);
// Light Mode
$grey-950: hsl(200, 15%, 8%);
$grey-400: hsl(0, 0%, 50%);
$grey-50: hsl(0, 0%, 99%); /*Light Mode Background*/
$white: hsl(0, 100%, 100%); //(Dark Mode Text & Light Mode Elements)

