@use "./variables" as *;
@use "./mixin" as *;
@use "./reset" as *;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap');

body {
    font-family: 'Nunito Sans';
    background-color: $grey-950;
}

p {line-height: 2;}

.container{
    background-color: $grey-50;
    min-height: 100vh;
    height: 100%;
    // TODO: responsive desktop
}

main {
    @include flex(column);
    gap: 10px;
    padding: 20px;
}

button {    
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    width: inherit;
}

.button-primary{
    @include button-style;
}

// ––––––––– header styles –––––––––
.header {
    @include flex(row);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);

    &__button {
        font-size: 14px;
        font-weight: 600;
        color: $grey-950;
        background-color: transparent;
        border: none;
       
    }
}

// ––––––––– main elements –––––––––
.filter-dropdown, .filter-dropdown__options {
    @include flex(row);
    justify-content: space-between;
    align-items: center;
    @include button-style-2;
}

.search-bar{    
    @include flex(row);
    @include button-style-2;
    width: 100%;
    gap: 10px;
    align-items: center;
}
.search-input {
    flex: 1;
    min-width: 0;
    font-size: 14px;
    color: $grey-950;
    border: none;
    outline: none;
    background-color: transparent;
}

.filter-dropdown__options {
    @include flex(column);
    align-items: flex-start;
    gap: 10px;
    margin-top: 5px;
}           

// ––––––––– components styles –––––––––
.country-card {
    @include flex(column);
    align-items: flex-start;
    width: 320px;
    border-radius: 15px;
    background-color: $white;
    overflow: hidden;
    box-shadow: 1px 2px 20px 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;

    &__detail {
        @include flex(column);
        gap: 5px;
        padding: 20px;
        margin: 15px 0;
    }
}

.country-list {
    @include flex(column);
    align-items: center;
    gap: 20px;
}



// ––––––––– theme –––––––––
.dark-mode{
    display: none ;
}


// –––––––––––– hover, active ––––––––––––––––––
.country-card:hover {
    zoom: 1.05;
    transition: ease-in-out 10s;
}